@import "tailwindcss";

@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/Metropolis-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
  /* define colors used throughout the project right here */
  /* example: --color-primary-500: #4618ac; */
    --color-enebapurple: #4618ac;
    --font-metropolis: 'Metropolis', Arial, Helvetica, sans-serif;
}

/* Web-wide background color */
body {
    @apply bg-enebapurple;
}
