@import "tailwindcss";
@theme {
  /* define colors used throughout the project right here */
  /* example: --color-primary-500: #4618ac; */
    --color-enebapurple: #4618ac;

}

/* Web-wide background color */
body {
    @apply bg-enebapurple;
}
